<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Админка</title>
    <link rel="stylesheet" href="../../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <form th:action="'/game/' + ${id} + '/' + ${pass}" method="get"> <button class="btn btn-primary btn-lg" type="submit">Вернуться</button></form>
                    <h2 class="fw-bold">Добавление врага</h2>
                    <form th:action="'/admin_red/enemy/' + ${id} + '/' + ${pass}" method="post"> <button class="btn btn-primary btn-lg" type="submit">Редактировать Врага</button></form>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <form class="p-3 p-xl-4" th:action="@{'/addenemy/' + ${imgenemy} + '/' + ${id} + '/' + ${pass}}" method="post">
                        <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Имя" style="height: 77.7812px;"></div>
                        <div class="mb-3"><input class="form-control" type="number" id="hp-1" name="hp" placeholder="Здоровье" style="height: 77.7812px;"></div>
                        <div class="mb-3"></div>
                        <div class="mb-3"></div>
<!--                        <div class="form-check" style="margin-top: 2px;margin-bottom: 4px;"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Босс</label></div>-->
                        <div><form><button class="btn btn-primary shadow d-block w-100">Добавить</button></form></div>
                    </form>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div></div><form th:action = "'/admin/'+${imgenemy}+'/'+${imgitem}+'/'+${id}+'/'+${pass}" method="post">
                    <a th:href = "'/admin/enemy/'+${imgenemy}+'/'+${imgitem}+'/'+${id}+'/'+${pass}" method="post"><img style="width: 128px;height: 128px;margin: 0px;" th:src="'../../../../img/' + ${imgenemy}"></a></form>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Добавление предмета</h2>
                <form th:action="'/admin_red/item/' + ${id} + '/' + ${pass}" method="post"> <button class="btn btn-primary btn-lg" type="submit">Редактировать Предмет</button></form>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col">
                <form class="p-3 p-xl-4" th:action="@{'/additem/' + ${imgitem} + '/' + ${id} + '/' + ${pass}}" method="post">
                    <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Название" style="height: 51.7812px;"></div><input class="form-control" type="number" name ="damage"placeholder="Урон">
                    <div class="mb-3"></div><input class="form-control" type="number" name = "cost" placeholder="Цена">
                    <div><button class="btn btn-primary shadow d-block w-100" type="submit">Добавить</button></div>
                </form>
            </div>
            <div class="col-md-6 col-xl-4">
                <div></div><form th:action = "'/admin/'+${imgenemy}+'/'+${imgitem}+'/'+${id}+'/'+${pass}" method="post">
                <a th:href = "'/admin/item/'+${imgenemy}+'/'+${imgitem}+'/'+${id}+'/'+${pass}" method="post"><img style="width: 128px;height: 128px;margin: 0px;" th:src="'../../../../img/' + ${imgitem}"></a>
                </form>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bold-and-bright.js"></script>
</body>

</html>