<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>main</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
<nav th:insert="~{header :: copy}"></nav>
<section class="py-4 py-xl-5">
    <h1 class="text-center">ТУТ ИГРОВЫЕ ОЧКИ</h1>
</section>
<div class="text-white bg-primary bg-gradient border rounded border-0 p-4 py-5" style="height: 500px;">
    <div class="row h-100">
        <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
            <div>
                <button class="btn btn-dark btn-lg text-uppercase fs-5 border rounded-circle border-0 shadow-lg py-2 px-4"
                        type="button" style="height: 200px;width: 200px;">ЖМИ НА МЕНЯ
                </button>
            </div>
        </div>
    </div>
</div>
<!--<div th:insert="~{footer :: copy}"></div>-->
<script src="css/bootstrap.min.js"></script>
</body>

</html>